body{
    background-color:rgb(149, 231, 237);
    background-image: url(Images/bg.jpg);
    padding: 3%;
    position: relative;

}

.horizontal-list {
  list-style: none;
  padding-left: 0px;
  padding-bottom: 10px;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  font-weight: 100;
  font-size: 1.3rem;
}


.horizontal-list li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a {
  transition: color 0.5s, border-bottom 2s;
}

.nav-menu li a:hover {
  color: lightgrey;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.text-right{
  text-align: right;
}

.social-icons li a i {
  /*color: red;*/
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
}


.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.block {
    position: relative;
    background-color: black;
    float: left;
    margin: 2%;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5%;
    left: 13%;
}

.block a{
  padding: 5px;
}

.block img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 5%;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .block:hover .image {
    opacity: 0.3;
  }
  
  .block:hover .middle {
    opacity: 1;
  }
  .text {
    background-color: #f7fbfa;
    color: rgb(11, 65, 111);
    font-size: 16px;
    padding: 10px 20px;

  }
  .button
{
    background-color:#f3eeee;
    color:#060101;
    padding:10px 10px;
    border:none;
    border-radius: 12px;
}
.button:hover{
    background:rgb(247, 187, 147);
    color:#fff;
}

.block h2 {
	margin-top: 10px;
	font-size: 20px;
}

.trail {
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  }

  section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contact-heading{
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
}

.contact-display{
  display: flex;
  height: inherit;
  width: 80%;
  /* border: 1px solid; */
  /* justify-content: space-between; */
}

/* .centre{
  align-self: center;
} */

.contact-details{
  width: 50%;
  height: inherit;
  margin-left: 35px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 13px;
  color: #ffffff;
  font-weight:300;
}

.contact-details b{
  font-size: 15px;
}

.contact-details div{
  margin-bottom: 20px;
}
.mb75px{
  margin-bottom: 50px;
}